.item {
    display: flex;
    flex-direction: row;
}

.util {
    width: 3em;
}

.util-sub {
    width: 2em;
}

.util-sub svg {
    width: 1rem;
    min-width: 1rem;
    margin-top: 0.1em;
    margin-left: auto;
    margin-right: auto;
}

.util .util-sub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item {
    margin-left: 0;
    border-bottom: 2px solid #b6b6b6;
}

.util:first-child{
    margin-top: 0.5em;
}

.util svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

.subtask {
    margin: 0.75em 0 0 3em;
    border-bottom: 1px solid #b6b6b6;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0;
}